<mat-toolbar color="primary">
    <span class="title-center">Autor</span>
</mat-toolbar>

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<script src="https://code.iconify.design/2/2.2.1/iconify.min.js"></script>

<body>
    <div class = "profil">
        <img src = "https://media-exp1.licdn.com/dms/image/C4D03AQGrfAOMqJN2AA/profile-displayphoto-shrink_200_200/0/1606603869482?e=1659571200&v=beta&t=HBJx1YMMzTYwUBFQl9RBwDnM9H3UkW_rqG-O7zlumbk">
        <h1>Sofija Dangubić</h1>
    </div>
    <div class = "box1">
        <h3>Biografija:</h3>
        <div class = "linija"></div>
        <p><i style="color: #69F0AE">Datum rođenja:</i> <br> 16.02.2001.</p>
        <p><i style="color: #69F0AE">Zvanje:</i> <br> Student</p>
        <p><i style="color: #69F0AE">Fakultet:</i> <br> Falkutet tehničkih nauka</p> 
        <p><i style="color: #69F0AE">Departman:</i> <br> Industrijsko inženjerstvo i menadžment</p>
        <p><i style="color: #69F0AE">Smer:</i> <br> Inženjerstvo informacionih sistema</p>
    </div>
    <div class="box2">
        <h3 style="margin-left: 65px;">Moje veštine:</h3>
        <div class="linija"></div>
        <div class="sposobnosti">
            <ul>
                <li>
                    <div class="vestine"> HTML </div>
                    <div class="razvoj">
                        <span style="width: 65%"></span>
                    </div>
                    <div class="procenat"> 65% </div>
                </li>
                <li>
                    <div class="vestine"> CSS </div>
                    <div class="razvoj">
                        <span style="width: 65%"></span>
                    </div>
                    <div class="procenat"> 65% </div>
                </li>
                <li>
                    <div class="vestine"> JS </div>
                    <div class="razvoj">
                        <span style="width: 22%"></span>
                    </div>
                    <div class="procenat"> 22% </div>
                </li>
                <li>
                    <div class="vestine"> JAVA </div>
                    <div class="razvoj">
                        <span style="width: 99%"></span>
                    </div>
                    <div class="procenat"> 99% </div>
                </li>
                <li>
                    <div class="vestine"> ANGULAR </div>
                    <div class="razvoj">
                        <span style="width: 98%"></span>
                    </div>
                    <div class="procenat"> 98% </div>
                </li>
            </ul>
        </div>
    </div>
    <div class = "box3">
        <h3 style="text-align: center;">Društvene mreže:</h3>
        <div class = "drustvene-mreze">
            <p style = "font-size: larger;">
                <a href ="https://www.facebook.com/sofija.dangubic">
                    <mat-icon color = "primary">facebook</mat-icon>
                </a>
                <br>
                Facebook
            </p>
            <p style = "font-size: larger;">
                <a href ="https://github.com/Razvoj-viseslojnih-aplikacija-2021-2022/rva-project-it15-2019">
                    <mat-icon color = "primary" style="margin-right: 140px;">github</mat-icon>
                </a>
                <br>
                Github
            </p>
        </div>
        <div class = "linija"></div>
        <h3 style="text-align: center;">Ostali kontakti:</h3>
        <div class = "drustvene-mreze">
            <p>
                <mat-icon color="primary">email</mat-icon> 
                <br> 
                sofijadangubic8@gmail.com
            </p>
            <p>
                <mat-icon color="primary">phone</mat-icon> 
                <br> 
                +381631040899
            </p>
        </div>
    </div>
    <div class = "box4">
        <h2 style = "text-align: center;">Kontaktirajte me:</h2>
        <div class = "tabela">
            <form>
                <div class = "boks">
                    <p style= "font-style:italic; margin-left: 5px;">Uneti podatke:</p>
                    <input type = "text" placeholder= "Ime"> 
                    <input type = "text" placeholder= "Prezime">
                    <input type = "email" placeholder= "Email">
                    <input type = "number" placeholder= "Kontakt telefon">
                </div>
                <div class = "tekst">
                    <textarea rows = "5" placeholder= "Poruka"></textarea>
                </div>
                <button mat-raised-button color="primary" type="submit" style="margin-left: 5px;">POŠALJI</button>
            </form>
        </div>
    </div>
    <footer class="footer">
        <mat-toolbar color="primary">
            <span class="title-center">&copy; Sofija Dangubić</span>
        </mat-toolbar>
    </footer>
</body>