<mat-toolbar color="primary">
  <span class="title-center">Početna</span>
</mat-toolbar>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>POČETNA STRANA</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>

<body>
  <main>
    <div class="intro">
      <div class = "linija"></div>
      <br>
      <h1>PROJEKAT IZ RVA</h1>
      <br>
      <div class = "linija"></div>
    </div>
    <div class="achievements">
      <div class="work">
        <i><mat-icon>add</mat-icon></i>
        <p class="work-heading">Dodavanje</p>
        <p class="work-text">Mogućnost dodavanja novog statusa, fakulteta, departmana i studenta u sistem.</p>
      </div>
      <div class="work">
        <i><mat-icon>edit</mat-icon></i>
        <p class="work-heading">Ažuriranje</p>
        <p class="work-text">Mogućnost izmene postojećeg statusa, fakulteta, departmana i studenta u sistem.</p>
      </div>
      <div class="work">
        <i><mat-icon>delete</mat-icon></i>
        <p class="work-heading">Brisanje</p>
        <p class="work-text">Mogućnost brisanja postojećeg statusa, fakulteta, departmana i studenta u sistem.</p>
      </div>
    </div>
  </main>
  <footer class="footer">
    <mat-toolbar color="primary">
      <span class="title-center">&copy; Sofija Dangubić</span>
    </mat-toolbar>
  </footer>
</body>
