@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

.title-center 
{
    margin: 0 auto;
}  

body 
{
    margin: 0;
    box-sizing: border-box;
}

.intro 
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 520px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%), url("https://images.unsplash.com/photo-1587620962725-abab7fe55159?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1031&q=80");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.intro h1 
{
    font-family: sans-serif;
    font-size: 60px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
}

.achievements 
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 40px 80px;
}

.achievements .work 
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 40px;
}

.achievements .work i 
{
    width: fit-content;
    font-size: 50px;
    color: #69F0AE;
    border-radius: 50%;
    border: 2px solid #69F0AE;
    padding: 12px;
}

.achievements .work .work-heading 
{
    font-size: 20px;
    color: white;
    text-transform: uppercase;
    margin: 10px 0;
}

.achievements .work .work-text 
{
    font-size: 15px;
    color: white;
    margin: 10px 0;
}

.footer 
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer .copy
{
    color: #fff;
}

h1
{
    color: white;
    font-weight: 70;
    font-style: italic;
    margin-right: 50px;
    letter-spacing: 2px;
}

.linija
{
    width: 600px;
    border-top: 1px solid white;
}